body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.page-container {
  background-color: #333;
  color: #fff;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 42px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  animation: animacionTitulo 2s infinite alternate;
}

@keyframes animacionTitulo {
  0% {
    transform: scale(1);
    color: #000; /* Color inicial oscuro */
  }
  50% {
    transform: scale(1.2);
    color: #fff; /* Color intermedio blanco */
  }
  100% {
    transform: scale(1);
    color: #000; /* Color final oscuro */
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card {
  width: 90%;
  max-width: 400px;
  background: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: row; /* Cambiamos la dirección de flexión a fila para que la imagen y el contenido se alineen horizontalmente */
  justify-content: flex-start; /* Alineamos el contenido a la izquierda */
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 0 0 10px; /* Ajustamos los bordes para que solo el lado izquierdo tenga esquinas redondeadas */
  transition: opacity 0.3s ease;
}

.card:hover img {
  opacity: 0.5; /* Ajustamos la opacidad de la imagen al pasar el cursor sobre el card */
}

.card-content {
  text-align: center;
  color: #333;
  padding: 20px;
  flex-grow: 1; /* Permitimos que el contenido del card ocupe todo el espacio disponible */
}


footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
