body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.page-container {
  background-color: #333;
  color: #fff;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 42px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  animation: animacionTitulo 2s infinite alternate;
}

@keyframes animacionTitulo {
  0% {
    transform: scale(1);
    color: #000; /* Color inicial oscuro */
  }
  50% {
    transform: scale(1.2);
    color: #fff; /* Color intermedio blanco */
  }
  100% {
    transform: scale(1);
    color: #333; /* Color final oscuro */
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.card {
  position: relative;
  width: 300px; /* Tamaño fijo del card */
  height: 150px; /* Tamaño fijo del card */
  background: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.card .default-image {
  width: 100%; /* Ancho de la imagen */
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la esquina superior */
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1; /* Establece una posición en el eje z para que la imagen esté detrás del texto */
}

.card .hover-image {
  width: 100%; /* Ancho de la imagen */
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la esquina superior */
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2; /* Establece una posición en el eje z para que la imagen esté en frente del texto */
}

.card:hover .default-image {
  opacity: 0;
}

.card:hover .hover-image {
  opacity: 1;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%); /* Alinea el contenido a la derecha al comienzo */
  width: 100%; /* Ancho para el contenido */
  padding: 20px;
  text-align: right; /* Alinea el texto a la derecha al comienzo */
  color: #fff;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agregamos transición para el transform */
  z-index: 3; /* Establece una posición en el eje z para que el texto esté en frente de la imagen y del degradado */
}

.card:hover .card-content {
  opacity: 1;
  transform: translate(-50%, -50%); /* Centra el contenido al pasar el cursor */
  text-align: center; /* Alinea el texto al centro al pasar el cursor */
}

.card-title,
.card-description {
  color: #ffffff; /* Color negro para el texto */
  margin-top: 5px; /* Espacio superior reducido */
}

.card-title {
  margin-bottom: 5px; /* Espacio inferior reducido */
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
